.main-header {
  color: whitesmoke;
  text-align: center;
  font-weight: 100;
  padding: 1em 0 0 0;
}
.covid-text{
    color: brown;
}
svg {
  display: block;
  margin: 1em auto;
  background-color: #14121f;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
  transition: box-shadow 500ms ease-in-out;
}
svg:hover {
  box-shadow: 20px 30px 15px rgba(0, 0, 0, 0.4);
}
.country {
  stroke: #bf6767;
}
.sphere {
  fill: #4d4d6d;
}
.tooltip {
  background-color: #361818;
  padding: 1em;
  color: white;
  position: absolute;
  opacity: 0;
  transition: opacity 1000ms linear;
  box-shadow: 1px 1px 20px;
  pointer-events: none;
  z-index: 999;
}
.tooltip h2 {
  padding: 0;
  margin: 0;
  color: #6ed6ef;
  text-align: center;
}
.source,
.retrieval-time {
  text-align: center;
  padding: 0.3em 1em;
  color: whitesmoke;
}
.source a {
  color: whitesmoke;
  text-decoration: none;
  transition: color 500ms ease-in-out;
}
.source span,
.retrieval-time span:nth-child(1) {
  color: #6ed6ef;
}
.source a:hover {
  color: greenyellow;
}
